.adv {
  padding-top: 80px;
  padding-bottom: 80px;
}

.adv-heading {
  margin-bottom: 48px;
}

.adv-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.adv-list-item {
  display: flex;
  align-items: center;
}

.adv-list-text {
  width: 633px;
  margin-left: 128px;
}

.li1 {
  margin-left: 109px;
}

.li2 {
  margin-left: 197px;
}

.li3 {
  margin-left: 235px;
}
@media screen and (max-width: 1439px) {
  .advantages-img {
    width: 80px;
    height: 80px;
  }

  .li1 {
    margin-left: 0;
  }

  .li2 {
    margin-left: 32px;
  }

  .li3 {
    margin-left: 64px;
  }
  .adv-list-text {
    margin-left: 40px;
  }
}
