.adv {
  padding-top: 80px;
  padding-bottom: 80px;
}

.adv-heading {
  margin-bottom: 48px;
}

.adv-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.adv-list-item {
  display: flex;
  gap: 128px;
  align-items: center;
}

.adv-list-text {
  width: 633px;
}

.li1 {
  margin-left: 109px;
}

.li2 {
  margin-left: 197px;
}

.li3 {
  margin-left: 235px;
}
