.bouquets {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

.bouquets-subtitle {
  margin-top: 16px;
  margin-bottom: 56px;
}

.bouquet-slider {
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.bouquet-cards {
  display: flex;
  gap: 24px;
  align-items: center;
}

.bouquet-card {
  text-align: center;
}
.bouquter-image {
  width: 302px;
  height: 308px;
  object-fit: cover;
  border-radius: 32px;
}

.center > .bouquter-image {
  width: 410px;
  height: 420px;
}

.bouquet-name {
  font-weight: 600;
  color: #fc640c;
  margin-top: 20px;
  margin-bottom: 8px;
}
.center > .bouquter-name {
  font-size: 22px;
  line-height: 150%;
}

.prev,
.next {
  font-size: 40px;
  cursor: pointer;
  color: #fbb48b;
  padding: 22px 30px;
  display: block;
  background-color: transparent;
  border: none;
}
