.order {
  padding-top: 80px;
  padding-bottom: 80px;
  background-image: url(/img/background/order-background-left.png),
    url(/img/background/order-background-right.png);
  background-repeat: no-repeat;
  background-position: left 80px top 80px, top 120px right 80px;
}

.order-form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 52px 56px;
  gap: 21px;

  width: 628px;
  height: 817px;

  border: 1px solid #fc640c;
  border-radius: 32px;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  width: 1440px;
  height: 228px;
  background: #fee1d1;
}

.menu {
  width: 302px;
  height: 132px;
  left: 189px;
  top: 48px;
}

.additionally {
  width: 140px;
  height: 36px;
  left: calc(50% - 140px / 2 + 1px);
  top: 0px;
  font-family: "Caveat";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  color: black;
}
.contacts {
  width: 628px;
  height: 142px;
  left: 623px;
  top: 48px;
}
