.reviews {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  padding: 50px;
}

.review {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.review-img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 20px;
}

.review-text {
  flex: 1;
}

.reviews-container {
  width: 48%;
  margin: 0 auto;
  padding: 50px 0;
}

.customer-name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
