html {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #1f1f1f;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
li {
  list-style-type: none;
  padding-left: 0;
}
.section {
  width: 1440px;
  padding-left: 80px;
  padding-right: 80px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 32px;
  padding-bottom: 32px;
}

.hero-text-wrepper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 52px;
}

.hero-title {
  width: 478px;
  font-family: "Caveat", cursive;
  font-weight: 700;
  font-size: 72px;
  line-height: 100%;
  color: #fc640c;
}

.hero-heading {
  width: 478px;
  font-family: "Caveat", cursive;
  align-content: center;
  font-weight: 700;
  font-size: 72px;
  line-height: 100%;
  color: #fc640c;
}
.button {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  color: #ffffff;
  background-color: #fc640c;
  border-radius: 8px;
  padding: 16px 32px 16px 32px;
  display: inline-block;
  text-decoration: none;
}
.hero-text {
  width: 519px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;
}
.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px; /* Відступи між елементами */
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  margin: 0;
}

.menu-link {
  text-decoration: none;
  color: #000;
  padding: 10px 20px;
  background-color: #ffffff;
  border-radius: 5px;
  display: inline-block;
}

.menu-link:hover {
  color: #fc640c;
}

.adv-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.adv-list-item {
  display: flex;
  gap: 128px;
  align-items: center;
}

.adv-list-text {
  width: 633px;
}

.li1 {
  margin-left: 109px;
}

.li2 {
  margin-left: 197px;
}

.li3 {
  margin-left: 235px;
}

.frame {
  width: 302px;
  height: 114px;
  color: #000;
  gap: 8px;
}

.quote {
  text-align: center;
  padding: 20px;
}

blockquote {
  font-style: italic;
}

footer {
  text-align: right;
}

.delivery-list {
  list-style: none;
  padding: 0;
}

.delivery-item {
  margin-bottom: 10px;
}
.bouquet-slider {
  overflow: hidden;
  position: relative;
}

.bouquet-cards {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.bouquet-card {
  flex: 0 0 33.33%;
  padding: 20px;
  text-align: center;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  cursor: pointer;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}
.quote-and-bouquets {
  text-align: center;
  padding: 20px;
}

.quote {
  font-style: italic;
  margin-bottom: 20px;
}
